*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.row > ul, .header-items > ul{
    display: flex;
}

/* Topbar Area */
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c90005;
    padding: 10px 50px;
}

.topbar ul{
    gap: 10px;
}

.topbar .thin a{
    font-weight: 100 !important;
}

.topbar a{
    color: white ;
    font-size: 15px;
    font-weight: 300;
}


.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgb(227, 227, 227);
    box-shadow: 0 1px 3px rgb(230, 230, 230);
    transition: 0.6s;
    z-index: 10000;
}

.header-nav.sticky{
    padding: 10px 50px;
    top: 0;
    background-color: rgb(246, 246, 246);
}

.header-nav ul{
    gap: 50px;
}

.header-nav li{
    border-radius: 8px;
    background-color: #c90005;
    transition: 0.6s;
}

.header-nav li:hover{
    background-color: #e61418;
}

.header-nav a{
    color: white;
    padding: 8px 14px;
    display: block;
}

nav .logo img{
    width: 150px;
}

/* Banner Area */

.banner{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.banner-text{
    text-align: center;    
}

.banner-text h1{
    font-size: 56px;
}

.banner-text h3{
    font-weight: 300;
}

/* Location Search Area */

.location-search-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 25px;
    margin: 150px 50px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 15px;
    box-shadow: 0 1px 1px rgb(230, 230, 230);
}

.address-input{
    display: flex;
    gap: 100px;
    padding: 70px 0 ;
}

.address-input input{
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 200px;
}

.address-input div{
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgb(227, 227, 227);
}

.address-input div p{
    font-size: 19px ;
    margin-bottom: 10px;
    color: #e61418;
}

.address-input input:focus{
    outline: none;
}

.travel-selection{
    display: flex;
    gap: 100px;
}

.travel-selection div{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px ;
    background-color: rgb(237, 234, 234);
    border-radius: 8px;
    cursor: pointer;
}

.travel-selection span{
    font-size: 15px;
}

/* Our Cars Area */

.our-cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 20px; /* İki sütun arasındaki boşluk */
    padding: 0 50px;
}

.our-cars ul{
    list-style: none;
    list-style-position: inside;
    padding: 20px 0;
}

.our-cars ul li{
    padding: 5px;
}

.our-cars-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 18px 18px 15px 15px;
    box-shadow: 0 1px 1px rgb(230, 230, 230);
}

.our-cars-img{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 20px;
}

.our-cars-img img{
    width: 100%;
    height: auto;
}

.our-cars-header{
    background-color: #c90005;
    text-align: center;
    color: white;
    padding: 5px 0;
    border-radius: 15px 15px 0 0;
}

.our-cars-attributes a{
    color: black;
}

.our-cars-attributes img{
    margin: 0 15px;
}

.our-cars-attributes li{
    display: flex;
    align-items: center;
}

.our-cars-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-button{
    background-color: #c90005;
    border-radius: 8px;
    text-align: center;
    margin: 10px 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.select-button:hover{
    background-color: #e61418;
}

.select-button a{
    color: white;
}

.select-button h3{
    font-weight: 300;
}


/* Activities Regions Area */

.activities-regions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.activities-header{
    margin-bottom: 20px;
}

.activites-regions-element{
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto,1fr;
    gap: 50px; /* İki sütun arasındaki boşluk */
    padding: 0 50px;
}

.activity-element{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 16px 16px 15px 15px;
    padding-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(230, 230, 230);
}

.activity-element:hover{
    transition: 0.6s;
    box-shadow: -5px 0 10px 0 rgb(230, 230, 230), 10px 0 10px 0 rgb(230, 230, 230), 0 10px 10px 0 rgb(230, 230, 230);

}

.activity-element h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 7px 0;
}

.activity-element-img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.activity-select-button{
    background-color: #c90005;
    border-radius: 8px;
    text-align: center;
    margin: 10px 20px;
    padding: 2px;
    cursor: pointer;
    transition: 0.6s;
}

.activity-select-button:hover{
    background-color: #e61418;
}
.activity-select-button a{
    color: white;
}

.activity-select-button h3{
    font-weight: 300;
}

.regions-option{
    display: flex;
    align-items: center;  
    margin-bottom: 20px;
}

.regions-option h3{
    color: #c90005;
    font-weight: 300;
    font-size: 16px;
}

.regions-option button{
    border: none;
    background-color: transparent;
    margin: 8px 14px;
    position: relative;
    cursor: pointer;
}

.regions-option button::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
}

.regions-option button:hover::after{
    width: 100%;
    transition: 0.6s;
}

.regions-options{
    display: flex;
    justify-content: center;
    width: 100%;    
}

#option1 {
    color: black;
    font-weight: bold;
}

/* Diğer seçeneklerin stilini belirtin */
#option2, #option3, #option4 {
    color: gray;
}

.ad-part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 200px;
}

.ad-part-slogan p{
    color: gray;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
}

.download-links{
    margin-top: 50px;
    display: flex;
}

.download-links div{
    cursor: pointer;
}

.download-google-play{
    margin-right:30px ;
}

.download-google-play, .download-app-store{
    display: flex;
    align-items: center;
}

h2{
    font-size: 40px;
    margin-bottom: 30px;
}
