*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.row > ul, .header-items > ul{
    display: flex;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c90005;
    padding: 10px 50px;

    ul{
        gap: 10px;
    }

    .thin a{
        font-weight: 100 !important;
    }

    a{
        color: white ;
        font-size: 15px;
        font-weight: 300;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(239, 239, 239);
    box-shadow: 0 1px 3px rgb(222, 221, 221);

    ul{
        gap: 50px;
    }

    li{
        border-radius: 8px;
        background-color: #c90005;
    }

    li:hover{
        background-color: #e61418;
    }

    a{
        color: white;
        padding: 8px 14px;
        display: block;
    }

    .logo img{
        width: 150px;
    }
}

.banner{
    display: flex;
    justify-content: center;
    padding-top: 150px;

    .banner-text{
        text-align: center;

        h1{
            font-size: 56px;
        }

        h3{
            font-weight: 300;
        }
    }

}
.location-search-area{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    
    .location-search-div{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        width: 90%;
        height: 500px;
        background-color: rgb(225, 225, 225);
    }
}

.our-cars{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .our-cars-element{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ul{
        list-style: circle;
    }
}

